@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --abe: #35ABE2;
  --red: #D03635;
  --darkred: #CF3636;
  --black: #110101;
}

h1{
  font-size: 3.2rem;
  font-weight: 700;
}

h2{
  font-size: 2.8rem;
  font-weight: 700;
}

h3{
  font-size: 2.2rem;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--black);
  background-color: white;
  overflow-x: hidden;
}

img{
  width:100%;
  height:100%;
  max-width:100%;
}

header{
  width:100%;
  height:8rem;
  border-bottom:3px solid black;
  border:1px solid blue;
  background:white;
}

.header__container{
  display:flex;
  width:100%;
  height:100%;
  max-width:1200px;
  margin:0 auto;
}

.video__container{
  padding-top:8rem;
  background: var(--abe);
  width:95%;
  margin:0 auto;
  padding-bottom:8rem;
}

video{
  width:85%;
  height:85%;
  margin:0 auto;
  display:block;
}

main{
  width:100%;
  max-width:1200px;
  margin:0 auto;
}

.menu__container{
  margin:0 auto;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo{
  padding:6rem;
  background: var(--abe);
  z-index:1;
}

.logo img{
  width:20rem;
  height:100%;
  max-width:100%;
}


.nav__left{
  margin-left:auto;
  padding-right:8rem;
}

.donate{
  margin-left: 4rem;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-right:4rem;
  font-size:2rem;
}


nav ul li:last-child{
  margin-right:0;
}

.nav__right{
  margin-right:auto;
  padding-left:8rem;
}


section{
  width:100%;
}

.planned__events{
  padding:4rem;
  background: var(--abe);
  min-height:50vw;
  width:95%;
  margin:0 auto;
}

.planned__events h1{
  text-align:left;
  margin-bottom:4rem;
}

.events{
  display:flex;
  position:relative;
}

#map{
  height:100%;
  margin-top:4rem;
}

swiper-slide{
  height:100px;
  display:flex;
  padding:2rem;
  background:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-slide time{
  font-size:2rem;
  font-weight:400;
}

swiper-slide h3{
  font-size:3rem;
  font-weight:700;
  margin-top:-1rem;
}

.borderlicious{
  border:10px solid #D03635;
  width:106%;
  position: absolute;
  left:-40px;
  top:30%;
}

.planned__events__title__block{
  padding:2rem;
  background: var(--red);
  width:40rem;
  margin-bottom:-4.3rem;
  margin-left:3rem;
  color:white;
}

.planned__events__title__block h1{
  font-size:3rem;
  font-weight:400;
}

swiper-container {
  width: 100%;
  height: 100%;
}